accelerate==0.33.0
joblib==1.4.2
natsort==8.4.0
numpy==2.2.6
pandas==2.2.3
pytorch_crf==0.7.2
regex==2024.7.24
scikit_learn==1.6.1
scipy==1.15.3
textdistance==4.6.3
torch==2.3.0
tqdm==4.66.5
transformers==4.43.3
